.heading {
	background: #F5F5F5;
	margin-bottom: 10px;
}

.right {
	background: #AFEEEE;
}

.left {
	border-bottom: 1px solid #d3d3d3;
}

.left p {
	padding-top: 10px;
}

p {
	font-size: 17px;
	font-weight: 300;
}
